.recipe {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 4px 0 var(--shadow-color);
  border-radius: 1rem;
}

.recipe_name {
  font-size: 1.3rem;
  padding: 0.5rem;
}

.img_wrapper {
  height: 250px;
}

.img_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.instructions_title {
  padding: 0.5rem 0;
}

.process {
  text-align: left;
  padding: 2rem 0;
  white-space: pre-wrap;
}

.process > li {
  padding-bottom: 0.75rem;
}

.cooking_time {
  font-weight: bold;
  margin: 1rem 0;
}

.avatar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
}

.avatar_wrapper > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ingredient_list {
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  list-style: none;
}

.ingredient_list > li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.edit_button {
  background-color: var(--bright-green);
}

.edit_button:hover {
  background-color: var(--dark-green);
}

.link {
  display: inline-block;
}

@media screen and (min-width: 960px) {
  .recipe {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 2rem;
  }
  .img_wrapper {
    height: 400px;
  }
  .texts > * {
    text-align: left;
  }
  .ingredient_list {
    margin: 0;
    padding: 0 0 1rem;
  }
  .button_wrapper {
    justify-content: left;
  }
}
@media screen and (max-width: 768px) {
  .process {
    padding: 0.5rem;
  }
}
