.wrapper {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1.25rem;
  text-align: center;
}

.wrapper h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem;
}

.error_text {
  width: 100%;
  color: var(--red);
}

.wrapper input {
  display: block;
  margin: 1rem auto;
  width: 80%;
  max-width: 600px;
  padding: 0.3rem;
}

.instruction_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper .instruction_input {
  margin: 0;
}

.instruction_container .delete_button {
  flex-shrink: 0;
}

.cooking_time {
  padding: 0.3rem;
  display: block;
  margin: 0.75rem auto;
}

.ingredient input {
  max-width: 300px;
}

.add_button,
.delete_button {
  color: var(--text-color);
  background: transparent;
  display: inline-block;
  margin: 0.75rem;
  padding: 0.5rem;
}

.add_button:hover,
.delete_button:hover {
  background: transparent;
}

.submit_button {
  display: block;
  margin: 1rem auto;
}
