.avatar_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar_with_name_wrapper {
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .avatar > img {
    width: 40px;
    height: 40px;
  }
}
